In [ ]:
import os
from glob import glob
import pandas as pd

##### install required packages

In [128]:
# def install(name):
    # import subprocess
    # subprocess.call(['pip3', 'install', name])

# install('openpyxl')
# install('xlsxwriter')
# install('lxml')

In [129]:
from notebook.services.config import ConfigManager
from IPython.display import display, Markdown
# pd.set_option('display.max_rows',100)
# pd.set_option('display.min_rows', 20)
# cm = ConfigManager().update('notebook', {'limit_output': 100})

### WISC NORMS (all age ranges and subtests)

#### coding and symbol search

##### SS and Coding Norms

In [130]:
wisc_norms_coding_SS=pd.read_excel('/Users/daelsaid/scratch/NeuroPsych/wisc_adhd_SS_C_Norms.xlsx',header=[0],skiprows=[1,2],sheet_name='wisc_C_SS_scaled',dtype=str)
display(wisc_norms_coding_SS)

,Scaled Score,ages 8:0_8:3_Coding,ages 8:0_8:3_Symbol Search,ages 8:4_8:7_Coding,ages 8:4_8:7_Symbol Search,ages 8:8_8:11_Coding,ages 8:8_8:11_Symbol Search,ages 9:0_9:3_Coding,ages 9:0_9:3_Symbol Search,ages 9:4_9:7_Coding,...,ages 12:4_12:7_Coding,ages 12:4_12:7_Symbol Search,ages 12:8_12:11_Coding,ages 12:8_12:11_Symbol Search,ages 13:0_13:3_Coding,ages 13:0_13:3_Symbol Search,ages 13:4_13:7_Coding,ages 13:4_13:7_Symbol Search,ages 13:8_13:11_Coding,ages 13:8_13:11_Symbol Search
0,1,0-10,0,0-11,0-1,0-12,0-2,0-13,0-3,0-14,...,0-20,0-8,0-20,0-8,0-21,0-8,0-22,0-9,0-23,0-9
1,2,11,1-2,12,2-3,13,3-4,14,4-5,15,...,21-22,9-10,21-23,9-11,22-24,9-11,23-25,10-11,24-26,10-11
2,3,12-13,3-4,13-14,4-5,14-15,5-6,15-16,6-7,16-17,...,23-26,11-13,24-27,12-13,25-28,12-13,26-29,12-14,27-31,12-14
3,4,14-15,5-6,15-16,6-7,16-17,7-8,17-18,8-9,18-19,...,27-30,14-15,28-31,14-16,29-33,14-16,30-34,15-16,32-35,15-17
4,5,16-17,7-8,17-18,8-9,18-19,9-10,19-20,10-11,20-22,...,31-34,16-18,32-36,17-18,34-37,17-19,35-38,17-19,36-39,18-19
5,6,18-19,9-10,19-20,10-11,20-21,11-12,21-23,12-13,23-24,...,35-38,19-20,37-40,19-21,38-41,20-21,39-43,20-22,40-44,20-22
6,7,20-21,11-12,21-23,11-13,22-24,13-14,24-26,14-15,25-27,...,39-43,21-22,41-44,22-23,42-46,22-24,44-47,23-24,45-49,23-25
7,8,22-24,13-14,24-25,14-15,25-27,15-16,27-29,16-17,28-30,...,44-47,23-25,45-49,24-25,47-50,25-26,48-52,25-27,50-54,26-27
8,9,25-27,15-16,26-28,16-17,28-30,17-18,30-32,18-19,31-34,...,48-51,26-27,50-53,26-28,51-55,27-28,53-57,28-29,55-58,28-30
9,10,28-30,17-18,29-32,18-19,31-33,19-20,33-35,20-21,35-37,...,52-56,28-29,54-58,29-30,56-60,29-31,58-61,30-31,59-63,31-32
10,11,31-33,19-20,33-35,20-21,34-37,21-22,36-39,22-23,38-41,...,57-60,30-32,59-62,31-32,61-64,32-33,62-66,32-34,64-68,33-34
11,12,34-36,21-22,36-39,22-23,38-41,23-24,40-43,24-25,42-45,...,61-65,33-34,63-67,33-35,65-69,34-35,67-71,35-36,69-73,35-37
12,13,37-40,23-24,40-42,24-25,42-44,25-26,44-47,26-27,46-49,...,66-70,35-36,68-72,36-37,70-74,36-38,72-76,37-38,74-78,38-39
13,14,41-43,25-26,43-46,26-27,45-48,27-28,48-51,28-29,50-53,...,71-75,37-38,73-77,38-39,75-79,39-40,77-81,39-40,79-82,40-41
14,15,44-47,27-28,47-49,28-29,49-52,29-30,52-55,30-31,54-58,...,76-79,39-40,78-81,40-41,80-83,41-42,82-85,41-43,83-86,42-43
15,16,48-50,29-30,50-53,30-31,53-56,31-32,56-59,32-33,59-62,...,80-84,41-42,82-86,42-43,84-88,43-44,86-90,44-45,87-91,44-45
16,17,51-55,31-32,54-58,32-33,57-61,33-34,60-64,34-35,63-67,...,85-88,43-44,87-90,44-45,89-92,45-46,91-94,46-47,92-95,46-47
17,18,56-59,33-34,59-62,34-35,62-65,35-36,65-69,36-37,68-72,...,89-92,45-46,91-94,46-47,93-95,47-48,95-97,48-49,96-98,48-49
18,19,60-117,35-60,63-117,36-60,66-117,37-60,70-117,38-60,73-117,...,93-117,47-60,95-117,48-60,96-117,49-60,98-117,50-60,99-117,50-60

##### PSI Equivalents

In [131]:
wisc_norms_coding_PSI=pd.read_excel('/Users/daelsaid/scratch/NeuroPsych/wisc_adhd_SS_C_Norms.xlsx',header=[0],skiprows=[1],sheet_name='C_SS_PSI Equivalents',dtype=str)

wisc_norms_coding_PSI=wisc_norms_coding_PSI[['Sum of Scaled Scores','PSI','Percentile Rank','Confidence Interval 90','Confidence Interval 95']]
display(wisc_norms_coding_PSI)

,Sum of Scaled Scores,PSI,Percentile Rank,Confidence Interval 90,Confidence Interval 95
0,2,45,<0.1,44-59,43-61
1,3,49,<0.1,48-63,46-64
2,4,53,0.1,51-66,50-68
3,5,56,0.2,54-69,52-70
4,6,60,0.4,57-72,56-74
5,7,63,1,60-75,58-76
6,8,66,1,63-78,61-79
7,9,69,2,65-80,64-82
8,10,72,3,68-83,66-84
9,11,75,5,70-86,69-87
10,12,77,6,72-87,71-89
11,13,80,9,75-90,73-91
12,14,83,13,78-93,76-94
13,15,86,18,80-95,79-97
14,16,89,23,83-98,81-99
15,17,92,30,85-100,84-102
16,18,95,37,88-103,87-105
17,19,98,45,91-106,89-107
18,20,100,50,92-108,91-109
19,21,103,58,95-110,94-112
20,22,105,63,97-112,95-113
21,23,108,70,100-115,98-116
22,24,111,77,102-117,101-119
23,25,114,82,105-120,103-121
24,26,116,86,107-122,105-123
25,27,119,90,109-124,108-126
26,28,123,94,113-128,111-129
27,29,126,96,115-130,114-132
28,30,129,97,118-133,117-134
29,31,132,98,121-136,119-137
30,32,135,99,123-138,122-140
31,33,138,99,126-141,124-142
32,34,141,99.7,129-144,127-145
33,35,144,99.8,131-146,130-148
34,36,148,99.9,135-150,133-151
35,37,151,>99.9,137-152,136-154
36,38,155,>99.9,141-156,139-157

In [132]:
wisc_norms=pd.read_excel('/Users/daelsaid/scratch/NeuroPsych/wisc_norms_other.xlsx',header=[1],skiprows=None,sheet_name='Sheet14',dtype=str)
display(wisc_norms)

,Scaled Score,ages_6:0_6:3_DS,ages_6:0_6:3_DSf,ages_6:0_6:3_DSb,ages_6:0_6:3_DSs,ages_6:0_6:3_LN,ages_6:0_6:3_SSP,ages_6:0_6:3_SSPf,ages_6:0_6:3_SSPb,ages_6:4_6:7_DS,...,ages_15:8_15:11_LN,ages_15:8_15:11_SSP,ages_16:0_16:3_DS,ages_16:0_16:3_DSf,ages_16:0_16:3_DSb,ages_16:0_16:3_DSs,ages_16:0_16:3_LN,ages_16:0_16:3_SSP,ages_16:0_16:3_SSPf,ages_16:0_16:3_SSPb
0,1,0,0,NaN,NaN,NaN,0,NaN,NaN,0-1,...,0-6,0-9,0-12,0-4,0-1,0-1,0-6,0-9,0-3,0-1
1,2,1,1,NaN,NaN,NaN,1,0,NaN,2,...,7-8,10,13-14,5,2,2,7-8,10,4,2
2,3,2-3,2,NaN,NaN,NaN,2,1,NaN,3-4,...,9-10,11,15-16,NaN,3,3,9-11,11,5,3
3,4,4,3,0,NaN,0,3,NaN,NaN,5,...,11-13,12,17-18,6,4,4,12-13,12,NaN,4
4,5,5-6,NaN,1,0,1-2,4,2,0,6-7,...,14-15,13,19-20,NaN,5-6,5,14-15,13,6,5
5,6,7-8,4,2,NaN,3,5,NaN,NaN,8-9,...,16,14,21-22,7,7,6,16,14,7,6
6,7,9-10,5,3,1,4,6,3,1,10-11,...,17,15-16,23-25,8,8,7,17,15-16,8,7
7,8,11-12,NaN,4,2,5-6,7,4,2,12-13,...,18,17,26-27,9,NaN,8,18,17,NaN,8
8,9,13-14,6,NaN,3,7,8,5,3,14-15,...,19,18-19,28-29,NaN,9,9,19,18-19,9,9
9,10,15-16,NaN,5,NaN,8-9,9,NaN,NaN,16-17,...,20,20,30,10,10,10,20,20,10,10
10,11,17,7,6,4,10,10,6,4,18,...,NaN,21-22,31-32,11,11,11,NaN,21-22,11,NaN
11,12,18-19,NaN,7,5,11-12,11,NaN,5,19-20,...,21,23-24,33-34,12,12,NaN,21,23-24,12,11
12,13,20,8,8,6,13,12,7,6,21,...,22,25,35-36,NaN,13,12,22,25-26,13-14,12
13,14,21-22,9,9,7,14-15,13-14,8,7,22-23,...,23,26-27,37-38,13,NaN,13,23,27,15,13
14,15,23,NaN,10,NaN,16,15,NaN,8,24,...,24,28-29,39-40,14,14,NaN,24,28-29,16,14
15,16,24-25,10,11,8,17,16,9,NaN,25-26,...,25,30-31,41-42,15,15,14,25,30-31,17,15
16,17,26,11,12,9,18,17-18,10,9,27,...,26,32-33,43-44,16,16,15,26,32-33,18,16
17,18,27-28,NaN,13,10,19,19,11,10,28-29,...,27,34,45,17,NaN,NaN,27,34,NaN,17
18,19,29-54,12-18,14-18,11-18,20-30,20-36,12-18,11-18,30-54,...,28-30,35-36,46-54,18,17-18,16-18,28-30,35-36,NaN,18

#### Age group table WISC (reference table)

##### ADHD

In [133]:
# Set the data directory to a local path and change the working directory to it

data_dir='/Users/daelsaid/scratch/NeuroPsych/frombox_wisc_since_covid_and_all_pids_start_with_9/adhd'
os.chdir(data_dir)


# Create an empty dataframe to store the age group information
age_group_table_wisc=pd.DataFrame()


# Loop through all files in the data directory
for subj_data_file in os.listdir(data_dir):
    try:
        # Extract the subject ID and visit number from the filename
        file_prefix=subj_data_file.split('.')[0]
        subj=file_prefix.split('_')[-2]
        visit=file_prefix.split('_')[-1]
        # age_group_table1=pd.DataFrame()
        # Check if the file is a MET WISC assessment file

        if file_prefix.startswith('ADHD'):
            # Extract the first 33 rows of the 'Number of Months', 'Range', and 'Age Group' columns
            # and append them to the age_group_table1 dataframe

            subj_assessor_df=pd.read_excel(subj_data_file,sheet_name='Assessor',header=[0],skiprows=None,dtype=str)
            # display(subj_assessor_df[['Number of Months','Range','Age Group']])
            age_group_table_wisc = age_group_table_wisc.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:18])
            
    except:
        continue         # If an error occurs during the loop, continue to the next file
    
# Define a dictionary to update the Range values to a consistent format
age_group_table_update=({'8:0-8:3':'8:0_8:3', '8:4-8:7':'8:4_8:7', '8:8-8:11':'8:8_8:11', '9:0-9:3':'9:0_9:3', '9:4-9:7':'9:4_9:7', '9:8-9:11':'9:8_9:11', '10:0-10:3':'10:0_10:3', '10:4-10:7':'10:4_10:7', '10:8-10:11':'10:8_10:11', '11:0-11:3':'11:0_11:3', '11:4-11:7':'11:4_11:7', '11:8-11:11':'11:8_11:11', '12:0-12:3':'12:0_12:3', '12:4-12:7':'12:4_12:7', '12:8-12:11':'12:8_12:11', '13:0-13:3':'13:0_13:3', '13:4-13:7':'13:4_13:7', '13:8-13:11':'13:8_13:11'})
age_group_table_wisc=age_group_table_wisc.replace({'Range':age_group_table_update})
display(age_group_table_wisc)

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/3983047598.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wisc = age_group_table_wisc.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:18])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/3983047598.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wisc = age_group_table_wisc.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:18])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/3983047598.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wisc = age_group_table_wisc.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:18])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/3983047598.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wisc = age_group_table_wisc.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:18])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/3983047598.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wisc = age_group_table_wisc.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:18])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/3983047598.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wisc = age_group_table_wisc.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:18])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/3983047598.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wisc = age_group_table_wisc.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:18])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/3983047598.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wisc = age_group_table_wisc.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:18])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/3983047598.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wisc = age_group_table_wisc.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:18])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/3983047598.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wisc = age_group_table_wisc.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:18])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/3983047598.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wisc = age_group_table_wisc.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:18])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/3983047598.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wisc = age_group_table_wisc.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:18])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/3983047598.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wisc = age_group_table_wisc.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:18])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/3983047598.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wisc = age_group_table_wisc.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:18])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/3983047598.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wisc = age_group_table_wisc.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:18])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/3983047598.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wisc = age_group_table_wisc.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:18])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/3983047598.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wisc = age_group_table_wisc.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:18])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/3983047598.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wisc = age_group_table_wisc.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:18])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/3983047598.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wisc = age_group_table_wisc.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:18])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/3983047598.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wisc = age_group_table_wisc.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:18])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/3983047598.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wisc = age_group_table_wisc.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:18])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/3983047598.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wisc = age_group_table_wisc.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:18])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/3983047598.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wisc = age_group_table_wisc.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:18])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/3983047598.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wisc = age_group_table_wisc.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:18])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/3983047598.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wisc = age_group_table_wisc.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:18])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/3983047598.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wisc = age_group_table_wisc.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:18])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/3983047598.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wisc = age_group_table_wisc.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:18])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/3983047598.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wisc = age_group_table_wisc.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:18])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/3983047598.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wisc = age_group_table_wisc.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:18])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/3983047598.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wisc = age_group_table_wisc.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:18])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/3983047598.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wisc = age_group_table_wisc.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:18])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/3983047598.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wisc = age_group_table_wisc.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:18])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/3983047598.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wisc = age_group_table_wisc.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:18])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/3983047598.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wisc = age_group_table_wisc.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:18])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/3983047598.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wisc = age_group_table_wisc.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:18])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/3983047598.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wisc = age_group_table_wisc.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:18])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/3983047598.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wisc = age_group_table_wisc.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:18])

   Number of Months       Range Age Group
0                96     8:0_8:3         1
1               100     8:4_8:7         2
2               104    8:8_8:11         3
3               108     9:0_9:3         4
4               112     9:4_9:7         5
..              ...         ...       ...
13              148   12:4_12:7        14
14              152  12:8_12:11        15
15              156   13:0_13:3        16
16              160   13:4_13:7        17
17              164  13:8_13:11        18

[666 rows x 3 columns]

##### MET/ASDMET/AML table

In [134]:
# Set the data directory to a local path and change the working directory to it

data_dir='/Users/daelsaid/scratch/NeuroPsych/12_17_2022/all_assessments_box_final/met/wisc'
os.chdir(data_dir)


# Create an empty dataframe to store the age group information
age_group_table1=pd.DataFrame()


# Loop through all files in the data directory

for subj_data_file in os.listdir(data_dir):
    try:
        # Extract the subject ID and visit number from the filename

        file_prefix=subj_data_file.split('.')[0]
        subj=file_prefix.split('_')[-2]
        visit=file_prefix.split('_')[-1]
        # age_group_table1=pd.DataFrame()
        # Check if the file is a MET WISC assessment file

        if file_prefix.startswith('MET_WISC_V'):
            # Extract the first 33 rows of the 'Number of Months', 'Range', and 'Age Group' columns
            # and append them to the age_group_table1 dataframe

            subj_assessor_df=pd.read_excel(subj_data_file,sheet_name='Assessor',header=[0],skiprows=None,dtype=str)

            age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
            
    except:
        continue         # If an error occurs during the loop, continue to the next file
    
# Define a dictionary to update the Range values to a consistent format
age_group_table1=age_group_table1[0:33]
age_group_table_update=({'6:0-6:3':'6:0_6:3', '6:4-6:7':'6:4_6:7', '6:8-6:11':'6:8_6:11', '7:0-7:3':'7:0_7:3', '7:4-7:7':'7:4_7:7', '7:8-7:11':'7:8_7:11', '8:0-8:3':'8:0_8:3', '8:4-8:7':'8:4_8:7', '8:8-8:11':'8:8_8:11', '9:0-9:3':'9:0_9:3', '9:4-9:7':'9:4_9:7', '9:8-9:11':'9:8_9:11', '10:0-10:3':'10:0_10:3', '10:4-10:7':'10:4_10:7', '10:8-10:11':'10:8_10:11', '11:0-11:3':'11:0_11:3', '11:4-11:7':'11:4_11:7', '11:8-11:11':'11:8_11:11', '12:0-12:3':'12:0_12:3', '12:4-12:7':'12:4_12:7', '12:8-12:11':'12:8_12:11', '13:0-13:3':'13:0_13:3', '13:4-13:7':'13:4_13:7', '13:8-13:11':'13:8_13:11', '14:0-14:3':'14:0_14:3', '14:4-14:7':'14:4_14:7', '14:8-14:11':'14:8_14:11', '15:0-15:3':'15:0_15:3', '15:4-15:7':'15:4_15:7', '15:8-15:11':'15:8_15:11', '16:0-16:3':'16:0_16:3', '16:4-16:7':'16:4_16:7', '16:8-16:11':'16:8_16:11'})
age_group_table=age_group_table1.replace({'Range':age_group_table_update})
print(age_group_table1)

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])

   Number of Months       Range Age Group
0                72     6:0-6:3         1
1                76     6:4-6:7         2
2                80    6:8-6:11         3
3                84     7:0-7:3         4
4                88     7:4-7:7         5
5                92    7:8-7:11         6
6                96     8:0-8:3         7
7               100     8:4-8:7         8
8               104    8:8-8:11         9
9               108     9:0-9:3        10
10              112     9:4-9:7        11
11              116    9:8-9:11        12
12              120   10:0-10:3        13
13              124   10:4-10:7        14
14              128  10:8-10:11        15
15              132   11:0-11:3        16
16              136   11:4-11:7        17
17              140  11:8-11:11        18
18              144   12:0-12:3        19
19              148   12:4-12:7        20
20              152  12:8-12:11        21
21              156   13:0-13:3        22
22              160   13:4-13:7        23
23              164  13:8-13:11        24
24              168   14:0-14:3        25
25              172   14:4-14:7        26
26              176  14:8-14:11        27
27              180   15:0-15:3        28
28              184   15:4-15:7        29
29              188  15:8-15:11        30
30              192   16:0-16:3        31
31              196   16:4-16:7        32
32              200  16:8-16:11        33

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/2565389623.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table1 = age_group_table1.append(subj_assessor_df[['Number of Months','Range','Age Group']][0:33])

## WIAT

### WIAT NORMS TABLE (includes a df for reading comprehension weighted scores)

In [135]:
wiat_grade_norms=pd.read_excel('/Users/daelsaid/scratch/NeuroPsych/WIAT_3_norm_table.xlsx',header=[1],skiprows=None,sheet_name='grade_norms',dtype=str)
display(wiat_grade_norms)

wiat_reading_comprehension=pd.read_excel('/Users/daelsaid/scratch/NeuroPsych/WIAT_3_norm_table.xlsx',header=[1],skiprows=None,sheet_name='weighted_reading_comp',dtype=str)
display(wiat_reading_comprehension)

,Standard Score,k fall_Early Reading Skills,k winter_Early Reading Skills,k spring_Early Reading Skills,1 fall_Early Reading Skills,1 winter_Early Reading Skills,1 spring_Early Reading Skills,2 fall_Early Reading Skills,2 winter_Early Reading Skills,2 spring_Early Reading Skills,...,9 spring_Math Fluency - Multiplication,10 fall_Math Fluency - Multiplication,10 winter_Math Fluency - Multiplication,10 spring_Math Fluency - Multiplication,11 fall_Math Fluency - Multiplication,11 winter_Math Fluency - Multiplication,11 spring_Math Fluency - Multiplication,12 fall_Math Fluency - Multiplication,12 winter_Math Fluency - Multiplication,12 spring_Math Fluency - Multiplication
0,40,NaN,NaN,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,0,0,0,0,1
2,42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,NaN,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,1,NaN
3,43,NaN,0,NaN,NaN,5,NaN,10,11,13,...,NaN,0,0,NaN,1,1,1,1,NaN,2
4,44,NaN,NaN,NaN,NaN,NaN,8,NaN,12,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,159,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,Weighted Raw,Reading Comprehension.1,Reading Comprehension.2,Reading Comprehension.3,Reading Comprehension.4,Reading Comprehension.5,Reading Comprehension.6,Reading Comprehension.7,Reading Comprehension.8,Reading Comprehension.9,Reading Comprehension.10,Reading Comprehension.11,Reading Comprehension.12,Weighted Raw.1
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
3,3,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44,NaN,NaN,NaN,NaN,95
96,96,NaN,NaN,NaN,NaN,NaN,NaN,44,NaN,49,49,49,49,96
97,97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97
98,98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98
99,99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50,50,50,50,99

### WIAT-III age group and grade group

In [136]:
data_dir='/Users/daelsaid/scratch/NeuroPsych/03_16_2023/'
os.chdir(data_dir)

age_group_table_wiat=pd.DataFrame()

for subj_data_file in os.listdir(data_dir):
    try:
        file_prefix=subj_data_file.split('.')[0]
        subj=file_prefix.split('_')[-2]
        visit=file_prefix.split('_')[-1]
        # age_group_table_wiat=pd.DataFrame()
        if file_prefix.startswith('AML_WIAT_III'):
            subj_assessor_df=pd.read_excel(subj_data_file,sheet_name='Reconcile',header=[0],skiprows=None,dtype=str)
            age_group_table_wiat = age_group_table_wiat.append(subj_assessor_df[['Grade Code','Unnamed: 14']][0:38])
            
    except:
        continue
        
# age_group_table=age_group_table1.replace({'Range':age_group_table_update})
age_group_table_wiat=age_group_table_wiat[0:38]
age_group_table_wiat = age_group_table_wiat.rename(columns={'Grade Code': 'Grade Group','Unnamed: 14':'Grade Code'})
age_group_table_wiat['Grade Group'] = age_group_table_wiat['Grade Group'].str.lower()

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/594764641.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wiat = age_group_table_wiat.append(subj_assessor_df[['Grade Code','Unnamed: 14']][0:38])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/594764641.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wiat = age_group_table_wiat.append(subj_assessor_df[['Grade Code','Unnamed: 14']][0:38])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/594764641.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wiat = age_group_table_wiat.append(subj_assessor_df[['Grade Code','Unnamed: 14']][0:38])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/594764641.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wiat = age_group_table_wiat.append(subj_assessor_df[['Grade Code','Unnamed: 14']][0:38])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/594764641.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wiat = age_group_table_wiat.append(subj_assessor_df[['Grade Code','Unnamed: 14']][0:38])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/594764641.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wiat = age_group_table_wiat.append(subj_assessor_df[['Grade Code','Unnamed: 14']][0:38])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/594764641.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wiat = age_group_table_wiat.append(subj_assessor_df[['Grade Code','Unnamed: 14']][0:38])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/594764641.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wiat = age_group_table_wiat.append(subj_assessor_df[['Grade Code','Unnamed: 14']][0:38])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/594764641.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wiat = age_group_table_wiat.append(subj_assessor_df[['Grade Code','Unnamed: 14']][0:38])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/594764641.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wiat = age_group_table_wiat.append(subj_assessor_df[['Grade Code','Unnamed: 14']][0:38])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/594764641.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wiat = age_group_table_wiat.append(subj_assessor_df[['Grade Code','Unnamed: 14']][0:38])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/594764641.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wiat = age_group_table_wiat.append(subj_assessor_df[['Grade Code','Unnamed: 14']][0:38])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/594764641.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wiat = age_group_table_wiat.append(subj_assessor_df[['Grade Code','Unnamed: 14']][0:38])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/594764641.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wiat = age_group_table_wiat.append(subj_assessor_df[['Grade Code','Unnamed: 14']][0:38])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/594764641.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wiat = age_group_table_wiat.append(subj_assessor_df[['Grade Code','Unnamed: 14']][0:38])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/594764641.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wiat = age_group_table_wiat.append(subj_assessor_df[['Grade Code','Unnamed: 14']][0:38])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/594764641.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wiat = age_group_table_wiat.append(subj_assessor_df[['Grade Code','Unnamed: 14']][0:38])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/594764641.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wiat = age_group_table_wiat.append(subj_assessor_df[['Grade Code','Unnamed: 14']][0:38])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/594764641.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wiat = age_group_table_wiat.append(subj_assessor_df[['Grade Code','Unnamed: 14']][0:38])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/594764641.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wiat = age_group_table_wiat.append(subj_assessor_df[['Grade Code','Unnamed: 14']][0:38])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/594764641.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wiat = age_group_table_wiat.append(subj_assessor_df[['Grade Code','Unnamed: 14']][0:38])
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/594764641.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  age_group_table_wiat = age_group_table_wiat.append(subj_assessor_df[['Grade Code','Unnamed: 14']][0:38])

In [137]:
display(age_group_table_wiat)

   Grade Group Grade Code
0       k fall          1
1     k winter          2
2     k spring          3
3       1 fall          4
4     1 winter          5
5     1 spring          6
6       2 fall          7
7     2 winter          8
8     2 spring          9
9       3 fall         10
10    3 winter         11
11    3 spring         12
12      4 fall         13
13    4 winter         14
14    4 spring         15
15      5 fall         16
16    5 winter         17
17    5 spring         18
18      6 fall         19
19    6 winter         20
20    6 spring         21
21      7 fall         22
22    7 winter         23
23    7 spring         24
24      8 fall         25
25    8 winter         26
26    8 spring         27
27      9 fall         28
28    9 winter         29
29    9 spring         30
30     10 fall         31
31   10 winter         32
32   10 spring         33
33     11 fall         34
34   11 winter         35
35   11 spring         36
36     12 fall         37
37   12 winter         38

## WISC

### ADHD WISC

In [198]:
# data_dir='/Users/daelsaid/scratch/NeuroPsych/frombox_wisc_since_covid_and_all_pids_start_with_9/adhd'
data_dir='/Users/daelsaid/scratch/NeuroPsych/box_wisc' #oold adhd project
os.chdir(data_dir)

combined_table_df=pd.DataFrame()

for subj_data_file in os.listdir(data_dir):
    try:
        file_prefix=subj_data_file.split('.')[0]
        subj=file_prefix.split('_')[-2]        
        visit=file_prefix.split('_')[-1]
        subtest_scores_asx=pd.DataFrame()
        subtest_score_sc1=pd.DataFrame()
        subtest_score_sc2=pd.DataFrame()
        subtest_score_reconcile=pd.DataFrame()

        print(subj,visit)
        if file_prefix.startswith('WISC_V'):

            subj_assessor_df=pd.read_excel(subj_data_file,sheet_name='Assessor',header=[0],skiprows=None,dtype=str)
            subtest_scores_asx1= subj_assessor_df.iloc[7:10, [4, 5, 6]]
            subtest_scores_asx2= subj_assessor_df.iloc[11:15, [4, 5, 6]]
            # cell_to_replace = subtest_scores_asx2.loc[13, 'Unnamed: 4']
            # print(cell_to_replace)
            
            subtest_scores_asx2.loc[14, 'Unnamed: 4'] = 'Confidence Interval 95'
            subtest_scores_asx2.loc[13, 'Unnamed: 4'] = 'Confidence Interval 90'
            subtest_scores_asx = pd.concat([subtest_scores_asx1, subtest_scores_asx2])

            subtest_scores_asx.columns = subtest_scores_asx.iloc[0]
            subtest_scores_asx = subtest_scores_asx.iloc[1:]        
            subtest_scores_asx['pid'] = subj
            subtest_scores_asx['file_prefix'] = file_prefix
            subtest_scores_asx['visit']=visit
            subtest_scores_asx['scorer'] = 'asx'
            subtest_scores_asx['subj_age_group-asx']=subj_assessor_df.iloc[3,7]

            
            subj_sc1_df=pd.read_excel(subj_data_file,sheet_name='Scorer1',header=[0],skiprows=None,dtype=str)
            subtest_score_sc11 = subj_sc1_df.iloc[7:10, [4, 5, 6]]
            subtest_score_sc12 = subj_sc1_df.iloc[11:15, [4, 5, 6]]
            subtest_score_sc12.loc[14, 'Unnamed: 4'] = 'Confidence Interval 95'
            subtest_score_sc12.loc[13, 'Unnamed: 4'] = 'Confidence Interval 90'

            
            subtest_score_sc1 = pd.concat([subtest_score_sc11, subtest_score_sc12])
            subtest_score_sc1.columns = subtest_score_sc1.iloc[0]
            subtest_score_sc1 = subtest_score_sc1.iloc[1:]        
            subtest_score_sc1['pid'] = subj
            subtest_score_sc1['visit']=visit
            subtest_score_sc1['scorer'] = 'sc1'
            subtest_score_sc1['subj_age_group-asx']=subj_assessor_df.iloc[3,7]
            # subtest_score_sc1['subj_age_group']=subj_sc1_df.iloc[3,7]
        
            subj_sc2_df=pd.read_excel(subj_data_file,sheet_name='Scorer2',header=[0],skiprows=None,dtype=str)
            subtest_score_sc21 = subj_sc2_df.iloc[7:10, [4, 5, 6]]
            subtest_score_sc22= subj_sc2_df.iloc[11:15, [4, 5, 6]]
            subtest_score_sc22.loc[14, 'Unnamed: 4'] = 'Confidence Interval 95'
            subtest_score_sc22.loc[13, 'Unnamed: 4'] = 'Confidence Interval 90'
            
            subtest_score_sc2 = pd.concat([subtest_score_sc21, subtest_score_sc22])         
            subtest_score_sc2.columns = subtest_score_sc2.iloc[0]
            subtest_score_sc2 = subtest_score_sc2.iloc[1:]        
            subtest_score_sc2['pid'] = subj
            subtest_score_sc2['visit']=visit
            subtest_score_sc2['scorer'] = 'sc2'
            subtest_score_sc2['subj_age_group-asx']=subj_assessor_df.iloc[3,7]

            
            subj_reconcile_df=pd.read_excel(subj_data_file,sheet_name='Reconcile',header=[0],skiprows=None,dtype=str)
            subtest_score_reconcile1 = subj_reconcile_df.iloc[7:10, [4, 5, 6]]
            subtest_score_reconcile2 = subj_reconcile_df.iloc[11:15, [4, 5, 6]]
            subtest_score_reconcile2.loc[14, 'Unnamed: 4'] = 'Confidence Interval 95'
            subtest_score_reconcile2.loc[13, 'Unnamed: 4'] = 'Confidence Interval 90'
            subtest_score_reconcile = pd.concat([subtest_score_reconcile1, subtest_score_reconcile2])         

            subtest_score_reconcile.columns = subtest_score_reconcile.iloc[0]
            subtest_score_reconcile = subtest_score_reconcile.iloc[1:]
            subtest_score_reconcile['pid'] = subj
            subtest_score_reconcile['visit']=visit
            subtest_score_reconcile['scorer'] = 'reconcile'
            subtest_score_reconcile['subj_age_group-asx']=subj_assessor_df.iloc[3,7]
            # subtest_score_reconcile.rename(columns={'Std Score':'Scaled Score'},inplace=True)
            # subtest_score_reconcile['subj_age_group']=subj_reconcile_df.iloc[3,7]

            subject_scores = pd.concat([subtest_scores_asx, subtest_score_sc1, subtest_score_sc2, subtest_score_reconcile], ignore_index=True)
            combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
    except:
        continue
    
display(combined_table_df)
combined_table_df.to_csv('adhd_wisc_v_scores_combined.csv')

7986 v
8078 1

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
/opt/homebrew/lib/python3.9/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
/opt/homebrew/lib/python3.9/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
/opt/homebrew/lib/python3.9/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

8017 1
8088 v

/opt/homebrew/lib/python3.9/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

7979 v
7386 v

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

7975 v
scores combined
8018 v

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

8069 v
8095 1

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

7727 v

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

8077 v
7384 v

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

7797 2
8051 v

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

7780 1
8120 v

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

8089 1
8008 v

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

duplicates scores
7988 v
8040 1

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

7878 1
8115 1

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

7402 v
7838 v

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

7733 v

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

7957 v
8093 1

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

7961 v
8047 v

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

8147 v
8028 v

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

search data
7565 v
7483 6

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

8111 1
8044 1

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

8139 1
8156 1

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

8135 1
8092 v

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

8013 1
8080 v

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

7890 v
8154 1

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

8058 1
8010 v

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

norms titles
7955 v
8161 v

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

8061 v
7664 v

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

8057 v
8007 v

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

7738 v
8094 1

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

7966 v
8123 v

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

8167 1

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

8104 1
8097 v

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

7899 v
7498 7

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

7987 v
8032 1

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

7223 v
7352 v

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

8030 1
7889 v

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

8153 1
8022 1

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

8122 1
8041 1

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

8096 1

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

8005 v
8066 v

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

7755 v
8033 v

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

8049 1
8157 1

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

8110 1
8091 v

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

8073 1
7960 v

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

8046 v
7155 v

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

8062 v
8070 v

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

8144 v

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

7954 v
8011 v

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

group mapping
8121 2
8155 1

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

8136 1
7891 v

/var/folders/rl/bc5_nh8n3910m9bytgmyn6l80000gn/T/ipykernel_48705/4078556982.py:87: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)

7,Subtest,Raw Score,Standard Score,pid,file_prefix,visit,scorer,subj_age_group-asx
0,Coding,47,9,7986,WISC_V_scoring_for_DB_7986_v,v,asx,13
1,Symbol Search,28,10,7986,WISC_V_scoring_for_DB_7986_v,v,asx,13
2,Processing Speed Index,19,98,7986,WISC_V_scoring_for_DB_7986_v,v,asx,13
3,Percentile Rank,NaN,45,7986,WISC_V_scoring_for_DB_7986_v,v,asx,13
4,Confidence Interval 90,0.9,91-106,7986,WISC_V_scoring_for_DB_7986_v,v,asx,13
...,...,...,...,...,...,...,...,...
2227,Symbol Search,19,9,7891,NaN,v,reconcile,6
2228,Processing Speed Index,19,98,7891,NaN,v,reconcile,6
2229,Percentile Rank,NaN,45,7891,NaN,v,reconcile,6
2230,Confidence Interval 90,0.9,91-106,7891,NaN,v,reconcile,6
2231,Confidence Interval 95,0.95,89-107,7891,NaN,v,reconcile,6

In [199]:
print(age_group_table_wisc)

merged_df = pd.merge(left=combined_table_df, right=age_group_table_wisc, left_on='subj_age_group-asx', right_on='Age Group', how='left')
# merged_df
display(merged_df)
merged_df.to_csv('adhd_wisc_contains_age_group_mapping.csv'))

   Number of Months       Range Age Group
0                96     8:0_8:3         1
1               100     8:4_8:7         2
2               104    8:8_8:11         3
3               108     9:0_9:3         4
4               112     9:4_9:7         5
..              ...         ...       ...
13              148   12:4_12:7        14
14              152  12:8_12:11        15
15              156   13:0_13:3        16
16              160   13:4_13:7        17
17              164  13:8_13:11        18

[666 rows x 3 columns]

,Subtest,Raw Score,Standard Score,pid,file_prefix,visit,scorer,subj_age_group-asx,Number of Months,Range,Age Group
0,Coding,47,9,7986,WISC_V_scoring_for_DB_7986_v,v,asx,13,144,12:0_12:3,13
1,Coding,47,9,7986,WISC_V_scoring_for_DB_7986_v,v,asx,13,144,12:0_12:3,13
2,Coding,47,9,7986,WISC_V_scoring_for_DB_7986_v,v,asx,13,144,12:0_12:3,13
3,Coding,47,9,7986,WISC_V_scoring_for_DB_7986_v,v,asx,13,144,12:0_12:3,13
4,Coding,47,9,7986,WISC_V_scoring_for_DB_7986_v,v,asx,13,144,12:0_12:3,13
...,...,...,...,...,...,...,...,...,...,...,...
82579,Confidence Interval 95,0.95,89-107,7891,NaN,v,reconcile,6,116,9:8_9:11,6
82580,Confidence Interval 95,0.95,89-107,7891,NaN,v,reconcile,6,116,9:8_9:11,6
82581,Confidence Interval 95,0.95,89-107,7891,NaN,v,reconcile,6,116,9:8_9:11,6
82582,Confidence Interval 95,0.95,89-107,7891,NaN,v,reconcile,6,116,9:8_9:11,6
82583,Confidence Interval 95,0.95,89-107,7891,NaN,v,reconcile,6,116,9:8_9:11,6

None

In [200]:
merged_df = merged_df.reset_index(drop=True)
merged_df['column_for_norm']='ages '+merged_df['Range'].str.lower()+'_'+merged_df['Subtest']
merged_df.to_csv('adhd_mapped_out_with_norms_titles.csv')
display(merged_df)

,Subtest,Raw Score,Standard Score,pid,file_prefix,visit,scorer,subj_age_group-asx,Number of Months,Range,Age Group,column_for_norm
0,Coding,47,9,7986,WISC_V_scoring_for_DB_7986_v,v,asx,13,144,12:0_12:3,13,ages 12:0_12:3_Coding
1,Coding,47,9,7986,WISC_V_scoring_for_DB_7986_v,v,asx,13,144,12:0_12:3,13,ages 12:0_12:3_Coding
2,Coding,47,9,7986,WISC_V_scoring_for_DB_7986_v,v,asx,13,144,12:0_12:3,13,ages 12:0_12:3_Coding
3,Coding,47,9,7986,WISC_V_scoring_for_DB_7986_v,v,asx,13,144,12:0_12:3,13,ages 12:0_12:3_Coding
4,Coding,47,9,7986,WISC_V_scoring_for_DB_7986_v,v,asx,13,144,12:0_12:3,13,ages 12:0_12:3_Coding
...,...,...,...,...,...,...,...,...,...,...,...,...
82579,Confidence Interval 95,0.95,89-107,7891,NaN,v,reconcile,6,116,9:8_9:11,6,ages 9:8_9:11_Confidence Interval 95
82580,Confidence Interval 95,0.95,89-107,7891,NaN,v,reconcile,6,116,9:8_9:11,6,ages 9:8_9:11_Confidence Interval 95
82581,Confidence Interval 95,0.95,89-107,7891,NaN,v,reconcile,6,116,9:8_9:11,6,ages 9:8_9:11_Confidence Interval 95
82582,Confidence Interval 95,0.95,89-107,7891,NaN,v,reconcile,6,116,9:8_9:11,6,ages 9:8_9:11_Confidence Interval 95
82583,Confidence Interval 95,0.95,89-107,7891,NaN,v,reconcile,6,116,9:8_9:11,6,ages 9:8_9:11_Confidence Interval 95

In [202]:
merged_df=merged_df.drop_duplicates()
merged_df.to_csv('adhd_drop_duplicates_scores.csv')

for index, row in merged_df.iterrows():
    for col in wisc_norms_coding_SS.columns:
        if row['column_for_norm'] == col: 
            # Check for a match in the _min column
            for i, val in enumerate(wisc_norms_coding_SS[col]):

                if isinstance(val, str) and '-' in val: # Check if Raw Score falls within the range of values in the cell
                    start, end = val.split('-')
                    try: 
                        if float(start) <= float(row['Raw Score']) <= float(end):
                            merged_df.at[index, 'column_header_from_norms'] = col
                            merged_df.at[index, 'standard_score_row_number'] = i
                            merged_df.at[index, 'norm_table_raw'] = wisc_norms_coding_SS[col][i]
                            merged_df.at[index, 'SS_from_norm_table'] = wisc_norms_coding_SS['Scaled Score'][i]
                    except:
                        continue
                elif str(val) == row['Raw Score']:
                    merged_df.at[index, 'column_header_from_norms'] = col
                    merged_df.at[index, 'standard_score_row_number'] = i
                    merged_df.at[index, 'norm_table_raw'] = wisc_norms_coding_SS[col][i]
                    merged_df.at[index, 'SS_from_norm_table'] = wisc_norms_coding_SS['Scaled Score'][i]

            # If no match in the _min column, check the _max column
            for i, val in enumerate(wisc_norms_coding_SS[col]):
                if isinstance(val, str) and '-' in val:  # Check if Raw Score falls within the range of values in the cell
                    start, end = val.split('-')
                    try: 
                        if float(start) <= float(row['Raw Score']) <= float(end):
                            merged_df.at[index, 'column_header_from_norms'] = col
                            merged_df.at[index, 'standard_score_row_number'] = i
                            merged_df.at[index, 'norm_table_raw'] = wisc_norms_coding_SS[col][i]
                            merged_df.at[index, 'SS_from_norm_table'] = wisc_norms_coding_SS['Scaled Score'][i]
                    except:
                        continue
                elif str(val) == row['Raw Score']:
                    merged_df.at[index, 'column_header_from_norms'] = col
                    merged_df.at[index, 'standard_score_row_number'] = i
                    merged_df.at[index, 'norm_table_raw'] = wisc_norms_coding_SS[col][i]
                    merged_df.at[index, 'SS_from_norm_table'] = wisc_norms_coding_SS['Scaled Score'][i]

In [214]:
# loop through each row in the DataFrame
for index, row in merged_df.iterrows():
    score_to_compare=row['sum_of_new_scaled_scores']
    for col in wisc_norms_coding_PSI.columns:
        for i,val in enumerate(wisc_norms_coding_PSI[col]):
            if col=='Sum of Scaled Scores' and row['sum_of_new_scaled_scores']==int(wisc_norms_coding_PSI[col][i]):
                merged_df.at[index, 'Sum_of_standard_scores_using_table']= wisc_norms_coding_PSI['Sum of Scaled Scores'][i]
                merged_df.at[index, 'PSI_from_norm_table']= wisc_norms_coding_PSI['PSI'][i]
                merged_df.at[index, 'Percentile Rank from norm table']= wisc_norms_coding_PSI['Percentile Rank'][i]
                merged_df.at[index, 'Confidence Interval 90% from norm table']= wisc_norms_coding_PSI['Confidence Interval 90'][i]
                merged_df.at[index, 'Confidence Interval 95% from norm table']= wisc_norms_coding_PSI['Confidence Interval 95'][i]

In [213]:
filtered_df = merged_df.loc[merged_df['Subtest'] == 'Coding', ['pid', 'scorer','SS_from_norm_table',]]
filtered_df2= merged_df.loc[merged_df['Subtest'] == 'Symbol Search', ['pid', 'scorer','SS_from_norm_table']]
temp=filtered_df.merge(filtered_df2,on=['pid','scorer'],suffixes=['_C','_SS'])
temp.fillna(0, inplace=True)

temp['sum_of_new_scaled_scores']=temp['SS_from_norm_table_C'].astype(int)+temp['SS_from_norm_table_SS'].astype(int)
display(temp)

merged_df=pd.merge(left=merged_df,right=temp, left_on=['pid','scorer'],right_on=['pid','scorer'],how='outer')

,pid,scorer,SS_from_norm_table_C,SS_from_norm_table_SS,sum_of_new_scaled_scores
0,7986,asx,9,10,19
1,7986,sc1,9,10,19
2,7986,sc2,9,10,19
3,7986,reconcile,9,10,19
4,8078,asx,11,6,17
...,...,...,...,...,...
367,8136,reconcile,11,11,22
368,7891,asx,9,8,17
369,7891,sc1,9,8,17
370,7891,sc2,9,8,17
371,7891,reconcile,9,8,17

In [215]:
merged_df['score_comparison'] = merged_df.groupby(['Subtest', 'pid', 'visit'])['Raw Score'].transform(lambda x: 'same' if x.nunique() == 1 else 'different')


display(merged_df)

,Subtest,Raw Score,Standard Score,pid,file_prefix,visit,scorer,subj_age_group-asx,Number of Months,Range,...,Percentile Rank from norm table,Confidence Interval 90% from norm table,Confidence Interval 95% from norm table,score_comparison,SS_from_norm_table_C_y,SS_from_norm_table_SS_y,sum_of_new_scaled_scores_y,SS_from_norm_table_C,SS_from_norm_table_SS,sum_of_new_scaled_scores
0,Coding,47,9,7986,WISC_V_scoring_for_DB_7986_v,v,asx,13,144,12:0_12:3,...,45,91-106,89-107,different,9,10,19,9,10,19
1,Symbol Search,28,10,7986,WISC_V_scoring_for_DB_7986_v,v,asx,13,144,12:0_12:3,...,45,91-106,89-107,same,9,10,19,9,10,19
2,Processing Speed Index,19,98,7986,WISC_V_scoring_for_DB_7986_v,v,asx,13,144,12:0_12:3,...,45,91-106,89-107,same,9,10,19,9,10,19
3,Percentile Rank,NaN,45,7986,WISC_V_scoring_for_DB_7986_v,v,asx,13,144,12:0_12:3,...,45,91-106,89-107,different,9,10,19,9,10,19
4,Confidence Interval 90,0.9,91-106,7986,WISC_V_scoring_for_DB_7986_v,v,asx,13,144,12:0_12:3,...,45,91-106,89-107,same,9,10,19,9,10,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2227,Symbol Search,19,9,7891,NaN,v,reconcile,6,116,9:8_9:11,...,30,85-100,84-102,same,9,8,17,9,8,17
2228,Processing Speed Index,19,98,7891,NaN,v,reconcile,6,116,9:8_9:11,...,30,85-100,84-102,same,9,8,17,9,8,17
2229,Percentile Rank,NaN,45,7891,NaN,v,reconcile,6,116,9:8_9:11,...,30,85-100,84-102,different,9,8,17,9,8,17
2230,Confidence Interval 90,0.9,91-106,7891,NaN,v,reconcile,6,116,9:8_9:11,...,30,85-100,84-102,same,9,8,17,9,8,17
2231,Confidence Interval 95,0.95,89-107,7891,NaN,v,reconcile,6,116,9:8_9:11,...,30,85-100,84-102,same,9,8,17,9,8,17

In [ ]:
'Subtest',
 'pid',
 'file_prefix',
 'visit',
 'scorer',
 'subj_age_group-asx',
 'Number of Months',
 'Range',
 'Age Group',
 'column_for_norm',
 'column_header_from_norms',
 'standard_score_row_number',
  'Raw Score',
 'norm_table_raw',
  'Standard Score',
 'SS_from_norm_table',
 'PSI_from_norm_table',
 'Percentile Rank from norm table',
 'Confidence Interval 90% from norm table',
 'Confidence Interval 95% from norm table',
 'score_comparison',
 'SS_from_norm_table_C_y',
 'SS_from_norm_table_SS_y',
 'sum_of_new_scaled_scores_y',
 'SS_from_norm_table_C',
 'SS_from_norm_table_SS',
 'sum_of_new_scaled_scores']

In [219]:
# display(merged_df.drop_duplicates())
display(merged_df)
# merged_df.drop_duplicates().to_csv('adhd_final_wisc_coding_symbol_search_data.csv')

display(merged_df.columns.tolist())
merged_df.to_csv('adhd_final_wisc_coding_symbol_search_data.csv')

,Subtest,Raw Score,Standard Score,pid,file_prefix,visit,scorer,subj_age_group-asx,Number of Months,Range,...,Percentile Rank from norm table,Confidence Interval 90% from norm table,Confidence Interval 95% from norm table,score_comparison,SS_from_norm_table_C_y,SS_from_norm_table_SS_y,sum_of_new_scaled_scores_y,SS_from_norm_table_C,SS_from_norm_table_SS,sum_of_new_scaled_scores
0,Coding,47,9,7986,WISC_V_scoring_for_DB_7986_v,v,asx,13,144,12:0_12:3,...,45,91-106,89-107,different,9,10,19,9,10,19
1,Symbol Search,28,10,7986,WISC_V_scoring_for_DB_7986_v,v,asx,13,144,12:0_12:3,...,45,91-106,89-107,same,9,10,19,9,10,19
2,Processing Speed Index,19,98,7986,WISC_V_scoring_for_DB_7986_v,v,asx,13,144,12:0_12:3,...,45,91-106,89-107,same,9,10,19,9,10,19
3,Percentile Rank,NaN,45,7986,WISC_V_scoring_for_DB_7986_v,v,asx,13,144,12:0_12:3,...,45,91-106,89-107,different,9,10,19,9,10,19
4,Confidence Interval 90,0.9,91-106,7986,WISC_V_scoring_for_DB_7986_v,v,asx,13,144,12:0_12:3,...,45,91-106,89-107,same,9,10,19,9,10,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2227,Symbol Search,19,9,7891,NaN,v,reconcile,6,116,9:8_9:11,...,30,85-100,84-102,same,9,8,17,9,8,17
2228,Processing Speed Index,19,98,7891,NaN,v,reconcile,6,116,9:8_9:11,...,30,85-100,84-102,same,9,8,17,9,8,17
2229,Percentile Rank,NaN,45,7891,NaN,v,reconcile,6,116,9:8_9:11,...,30,85-100,84-102,different,9,8,17,9,8,17
2230,Confidence Interval 90,0.9,91-106,7891,NaN,v,reconcile,6,116,9:8_9:11,...,30,85-100,84-102,same,9,8,17,9,8,17
2231,Confidence Interval 95,0.95,89-107,7891,NaN,v,reconcile,6,116,9:8_9:11,...,30,85-100,84-102,same,9,8,17,9,8,17

['Subtest',
 'Raw Score',
 'Standard Score',
 'pid',
 'file_prefix',
 'visit',
 'scorer',
 'subj_age_group-asx',
 'Number of Months',
 'Range',
 'Age Group',
 'column_for_norm',
 'column_header_from_norms',
 'standard_score_row_number',
 'norm_table_raw',
 'SS_from_norm_table',
 'SS_from_norm_table_C_x',
 'SS_from_norm_table_SS_x',
 'sum_of_new_scaled_scores_x',
 'Sum_of_standard_scores_using_table',
 'PSI_from_norm_table',
 'Percentile Rank from norm table',
 'Confidence Interval 90% from norm table',
 'Confidence Interval 95% from norm table',
 'score_comparison',
 'SS_from_norm_table_C_y',
 'SS_from_norm_table_SS_y',
 'sum_of_new_scaled_scores_y',
 'SS_from_norm_table_C',
 'SS_from_norm_table_SS',
 'sum_of_new_scaled_scores']

In [ ]:
# subtest_scores = merged_df[merged_df['Subtest'].isin(['Coding', 'Symbol Search'])]

# subtest_scores= merged_df.pivot(index=['pid', 'visit', 'scorer', 'subj_age_group-asx'], columns='Subtest', values=['Raw Score']).reset_index()
# display(subtest_scores)



# # # display(subtest_scores.head(50),subtest_scores2.head(50))
# # display(subtest_scores)
# # # Rename the columns to remove the "Subtest_" prefix
# # # subtest_scores.columns = ['pid', 'visit', 'scorer', 'subj_age_group-asx', 'Coding', 'Symbol Search,'column_for_norm']

In [ ]:
display(merged_df.head(50))


# # subtest_scores = merged_df[merged_df['Subtest'].isin(['Coding', 'Symbol Search'],'Percentile Rank','Processing Speed Index','Confidence Interval 95','Confidence Interval 90'])]
# #
# subtest_scores = merged_df[merged_df['Subtest'].isin(['Raw Score','row_number_to_lookup_standard_score','norm_table_raw_val_lookup','Standard Score','SS_from_norm_table','Sum of Scaled Score from norms','PSI_from_norm_table','Percentile Rank from norm table','Confidence Interval 90% from norm table','Confidence Interval 95% from norm table','score_comparison'])]
      
                                                     
                                                     
# # 'Subtest','pid','visit','scorer','subj_age_group-asx','Number of Months','Range','Age Group','column_for_norm','column_header_from_norms','Raw Score','row_number_to_lookup_standard_score','norm_table_raw_val_lookup','Standard Score','SS_from_norm_table','Sum of Scaled Score from norms','PSI_from_norm_table','Percentile Rank from norm table','Confidence Interval 90% from norm table','Confidence Interval 95% from norm table','score_comparison'
# # Pivot the resulting DataFrame to have the subtests as columns
# subtest_scores= subtest_scores.pivot(index=['pid', 'visit', 'scorer', 'subj_age_group-asx'], columns='Subtest', values=['Raw Score']).reset_index()

# # subtest_scores2= subtest_scores.pivot(index=['pid', 'visit', 'scorer', 'subj_age_group-asx'], columns='Subtest', values=['Standard Score']).reset_index()

# # display(subtest_scores.head(50),subtest_scores2.head(50))
# display(subtest_scores)
# # Rename the columns to remove the "Subtest_" prefix
# # subtest_scores.columns = ['pid', 'visit', 'scorer', 'subj_age_group-asx', 'Coding', 'Symbol Search,'column_for_norm']

In [ ]:
# col_order=['Subtest','pid','visit','scorer','subj_age_group-asx','Number of Months','Range','Age Group','column_for_norm','column_header_from_norms','Raw Score','row_number_to_lookup_standard_score','norm_table_raw_val_lookup','Standard Score','SS_from_norm_table','Sum of Scaled Score from norms','PSI_from_norm_table','Percentile Rank from norm table','Confidence Interval 90% from norm table','Confidence In
# |terval 95% from norm table','score_comparison']

merged_df.to_csv('final_check_of_wisc_adhd_norms.csv')

----

### ASD MET /MET WISC

In [ ]:
# data_dir='/Users/daelsaid/scratch/NeuroPsych/03_16_2023/wisc'
# data_dir='/Users/daelsaid/Downloads/frombox_wisc/met_asdmet'
data_dir='/Users/daelsaid/Downloads/behavioral_data-selected/met_wisc'
os.chdir(data_dir)

combined_table_df=pd.DataFrame()

for subj_data_file in os.listdir(data_dir):
    try:
        file_prefix=subj_data_file.split('.')[0]
        subj=file_prefix.split('_')[-2]
        visit=file_prefix.split('_')[-1]
        subtest_scores_asx=pd.DataFrame()
        subtest_score_sc1=pd.DataFrame()
        subtest_score_sc2=pd.DataFrame()
        subtest_score_reconcile=pd.DataFrame()

        if file_prefix.startswith('MET_WISC') or file_prefix.startswith('ASD_MET_WISC'):
            subj_assessor_df=pd.read_excel(subj_data_file,sheet_name='Assessor',header=[0],skiprows=None,dtype=str)
            subtest_scores_asx = subj_assessor_df.iloc[8:17, [4, 5, 6]]
            subtest_scores_asx.columns = subtest_scores_asx.iloc[0]
            subtest_scores_asx = subtest_scores_asx.iloc[1:]        
            subtest_scores_asx['pid'] = subj
            subtest_scores_asx['visit']=visit
            subtest_scores_asx['scorer'] = 'asx'
            subtest_scores_asx['subj_age_group-asx']=subj_assessor_df.iloc[3,7]
        
            subj_sc1_df=pd.read_excel(subj_data_file,sheet_name='Scorer1',header=[0],skiprows=None,dtype=str)
            subtest_score_sc1 = subj_sc1_df.iloc[8:17, [4, 5, 6]]
            subtest_score_sc1.columns = subtest_score_sc1.iloc[0]
            subtest_score_sc1 = subtest_score_sc1.iloc[1:]        
            subtest_score_sc1['pid'] = subj
            subtest_score_sc1['visit']=visit
            subtest_score_sc1['scorer'] = 'sc1'
            subtest_score_sc1['subj_age_group-asx']=subj_assessor_df.iloc[3,7]
            # subtest_score_sc1['subj_age_group']=subj_sc1_df.iloc[3,7]

            subj_sc2_df=pd.read_excel(subj_data_file,sheet_name='Scorer2',header=[0],skiprows=None,dtype=str)
            subtest_score_sc2 = subj_sc2_df.iloc[8:17, [4, 5, 6]]
            subtest_score_sc2.columns = subtest_score_sc2.iloc[0]
            subtest_score_sc2 = subtest_score_sc2.iloc[1:]        
            subtest_score_sc2['pid'] = subj
            subtest_score_sc2['visit']=visit
            subtest_score_sc2['scorer'] = 'sc2'
            subtest_score_sc2['subj_age_group-asx']=subj_assessor_df.iloc[3,7]

            subj_reconcile_df=pd.read_excel(subj_data_file,sheet_name='Reconcile',header=[0],skiprows=None,dtype=str)
            subtest_score_reconcile = subj_reconcile_df.iloc[8:17, [3, 4, 5]]
            subtest_score_reconcile.columns = subtest_score_reconcile.iloc[0]
            subtest_score_reconcile = subtest_score_reconcile.iloc[1:]
            subtest_score_reconcile['pid'] = subj
            subtest_score_reconcile['visit']=visit
            subtest_score_reconcile['scorer'] = 'reconcile'
            subtest_score_reconcile['subj_age_group-asx']=subj_assessor_df.iloc[3,7]
            subtest_score_reconcile.rename(columns={'Std Score':'Scaled Score'},inplace=True)
            # subtest_score_reconcile['subj_age_group']=subj_reconcile_df.iloc[3,7]

            subject_scores = pd.concat([subtest_scores_asx, subtest_score_sc1, subtest_score_sc2, subtest_score_reconcile], ignore_index=True)
            combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
 
    except:
        continue
combined_table_df.to_csv('met_and_asdmet_wisc_v_scores_combined1.csv')

### AML WISC

In [ ]:
# data_dir='/Users/daelsaid/scratch/NeuroPsych/03_16_2023/wisc/aml_wisc'
# data_dir='/Users/daelsaid/scratch/NeuroPsych/frombox_wisc/aml'

os.chdir(data_dir)

combined_table_df=pd.DataFrame()

for subj_data_file in os.listdir(data_dir):
    try:
        file_prefix=subj_data_file.split('.')[0]
        subj=file_prefix.split('_')[-2]
        visit=file_prefix.split('_')[-1]
        subtest_scores_asx=pd.DataFrame()
        subtest_score_sc1=pd.DataFrame()
        subtest_score_sc2=pd.DataFrame()
        subtest_score_reconcile=pd.DataFrame()

        if file_prefix.startswith('AML_WISC'):
            subj_assessor_df=pd.read_excel(subj_data_file,sheet_name='Assessor',header=[0],skiprows=None,dtype=str)
            subtest_scores_asx = subj_assessor_df.iloc[8:15, [4, 5, 6]]
            subtest_scores_asx.columns = subtest_scores_asx.iloc[0]
            subtest_scores_asx = subtest_scores_asx.iloc[1:]        
            subtest_scores_asx['pid'] = subj
            subtest_scores_asx['visit']=visit
            subtest_scores_asx['scorer'] = 'asx'
            subtest_scores_asx['subj_age_group-asx']=subj_assessor_df.iloc[3,7]
        
            subj_sc1_df=pd.read_excel(subj_data_file,sheet_name='Scorer1',header=[0],skiprows=None,dtype=str)
            subtest_score_sc1 = subj_sc1_df.iloc[8:15, [4, 5, 6]]
            subtest_score_sc1.columns = subtest_score_sc1.iloc[0]
            subtest_score_sc1 = subtest_score_sc1.iloc[1:]        
            subtest_score_sc1['pid'] = subj
            subtest_score_sc1['visit']=visit
            subtest_score_sc1['scorer'] = 'sc1'
            subtest_score_sc1['subj_age_group-asx']=subj_assessor_df.iloc[3,7]
            # subtest_score_sc1['subj_age_group']=subj_sc1_df.iloc[3,7]

            subj_sc2_df=pd.read_excel(subj_data_file,sheet_name='Scorer2',header=[0],skiprows=None,dtype=str)
            subtest_score_sc2 = subj_sc2_df.iloc[8:15, [4, 5, 6]]
            subtest_score_sc2.columns = subtest_score_sc2.iloc[0]
            subtest_score_sc2 = subtest_score_sc2.iloc[1:]        
            subtest_score_sc2['pid'] = subj
            subtest_score_sc2['visit']=visit
            subtest_score_sc2['scorer'] = 'sc2'
            subtest_score_sc2['subj_age_group-asx']=subj_assessor_df.iloc[3,7]

            subj_reconcile_df=pd.read_excel(subj_data_file,sheet_name='Reconcile',header=[0],skiprows=None,dtype=str)
            subtest_score_reconcile = subj_reconcile_df.iloc[8:15, [3, 4, 5]]
            subtest_score_reconcile.columns = subtest_score_reconcile.iloc[0]
            subtest_score_reconcile = subtest_score_reconcile.iloc[1:]
            subtest_score_reconcile['pid'] = subj
            subtest_score_reconcile['visit']=visit
            subtest_score_reconcile['scorer'] = 'reconcile'
            subtest_score_reconcile['subj_age_group-asx']=subj_assessor_df.iloc[3,7]
            subtest_score_reconcile.rename(columns={'Std Score':'Scaled Score'},inplace=True)
            # subtest_score_reconcile['subj_age_group']=subj_reconcile_df.iloc[3,7]

            subject_scores = pd.concat([subtest_scores_asx, subtest_score_sc1, subtest_score_sc2, subtest_score_reconcile], ignore_index=True)
            combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
 
    except:
        continue

display(combined_table_df)
combined_table_df.to_csv('aml_wisc_scores_combined1.csv')

## WIAT3

### All lab WIAT

In [ ]:
data_dir='/Volumes/DE_2022_ssd/box_scratch/test/'

os.chdir(data_dir)

combined_table_df=pd.DataFrame()

for subj_data_file in os.listdir(data_dir):
    try:
        file_prefix=subj_data_file.split('.')[0]
        subj=file_prefix.split('_')[-2]
        visit=file_prefix.split('_')[-1]
        subtest_scores_asx=pd.DataFrame()
        subtest_score_sc1=pd.DataFrame()
        subtest_score_sc2=pd.DataFrame()
        subtest_score_reconcile=pd.DataFrame()

        # if file_prefix.contains('WIATIII'):
        #     print(subj)
        #     print(file_prefix)
        subj_assessor_df=pd.read_excel(subj_data_file,sheet_name='Assessor',header=[0],skiprows=None,dtype=str)
        subtest_scores_asx = subj_assessor_df.iloc[0:11, [10, 11, 12]] 
        subtest_scores_asx.columns = subtest_scores_asx.iloc[0]
        subtest_scores_asx = subtest_scores_asx.iloc[1:]        
        subtest_scores_asx['pid'] = subj
        subtest_scores_asx['visit']=visit
        subtest_scores_asx['scorer'] = 'asx'
        subtest_scores_asx['subj_grade_group-asx']=subj_assessor_df.iloc[5,7]
        subtest_scores_asx['subj_grade_code-asx']=subj_assessor_df.iloc[6,7]
        subtest_scores_asx['subj_grade-asx']=subj_assessor_df.iloc[6,5]

        subj_sc1_df=pd.read_excel(subj_data_file,sheet_name='Scorer1',header=[0],skiprows=None,dtype=str)
        subtest_score_sc1 = subj_sc1_df.iloc[0:11, [10, 11, 12]] 
        subtest_score_sc1.columns = subtest_score_sc1.iloc[0]
        subtest_score_sc1 = subtest_score_sc1.iloc[1:]        
        subtest_score_sc1['pid'] = subj
        subtest_score_sc1['visit']=visit
        subtest_score_sc1['scorer'] = 'sc1'
        subtest_score_sc1['subj_grade_group-asx']=subj_assessor_df.iloc[5,7]
        subtest_score_sc1['subj_grade_code-asx']=subj_assessor_df.iloc[6,7]
        subtest_score_sc1['subj_grade-asx']=subj_assessor_df.iloc[6,5]

        subj_sc2_df=pd.read_excel(subj_data_file,sheet_name='Scorer2',header=[0],skiprows=None,dtype=str)
        subtest_score_sc2 = subj_sc2_df.iloc[0:11, [10, 11, 12]] 
        subtest_score_sc2.columns = subtest_score_sc2.iloc[0]
        subtest_score_sc2 = subtest_score_sc2.iloc[1:]        
        subtest_score_sc2['pid'] = subj
        subtest_score_sc2['visit']=visit
        subtest_score_sc2['scorer'] = 'sc2'
        subtest_score_sc2['subj_grade_group-asx']=subj_assessor_df.iloc[5,7]
        subtest_score_sc2['subj_grade_code-asx']=subj_assessor_df.iloc[6,7]
        subtest_score_sc2['subj_grade-asx']=subj_assessor_df.iloc[6,5]

        subj_reconcile_df=pd.read_excel(subj_data_file,sheet_name='Reconcile',header=[0],skiprows=None,dtype=str)
        subtest_score_reconcile = subj_reconcile_df.iloc[8:19, [3, 4, 5, 6]]
        subtest_score_reconcile.columns = subtest_score_reconcile.iloc[0]
        subtest_score_reconcile = subtest_score_reconcile.iloc[1:]
        subtest_score_reconcile['pid'] = subj
        subtest_score_reconcile['visit']=visit
        subtest_score_reconcile['scorer'] = 'reconcile'
        subtest_score_reconcile['subj_grade_group-asx']=subj_assessor_df.iloc[5,7]
        subtest_score_reconcile['subj_grade-asx']=subj_assessor_df.iloc[6,5]


        subject_scores = pd.concat([subtest_scores_asx, subtest_score_sc1, subtest_score_sc2, subtest_score_reconcile], ignore_index=True)
        combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
    except:
        continue
display(combined_table_df)
# combined_table_df.to_csv('amlmet_wiat3_scores_combined_np_drive.csv')

In [ ]:
display(combined_table_df)

In [ ]:
# print(age_group_table_wiat)
print(combined_table_df)

merged_df = pd.merge(left=combined_table_df, right=age_group_table_wiat, left_on='subj_grade_code-asx', right_on='Grade Code', how='left')
# merged_df.to_csv('amlmet_asdmet_wiat3_npdrive_contains_age_group_mapping.csv')
display(merged_df)

In [ ]:
merged_df = merged_df.reset_index(drop=True)
merged_df.loc[merged_df['Subtest'] == 'Reading Comprehension', 'reading_comprehension_column_header'] = 'Reading Comprehension.' + merged_df['subj_grade-asx']

merged_df.loc[merged_df['Subtest'] == 'Oral Expression - Sentence Repetition', 'Subtest'] = 'Sentence Repetition'

# merged_df.loc[(merged_df['Weighted Score'].notnull() or merged_df['Subtest'] == 'Reading Comprehension'), 'reading_comprehension_column_header'] = 'Reading Comprehension.' + merged_df['subj_grade-asx']
merged_df['column_for_norm']=merged_df['subj_grade_group-asx'].str.lower()+'_'+merged_df['Subtest']
# merged_df['Weighted_reading']=merged_df['Weighted Score'].fillna('')
# merged_df.to_csv('aml_asdmet_metwiat3_mapped_out_with_norms_titles.csv')

In [ ]:
merged_df = merged_df.dropna(subset=['Raw Score'])
# merged_df.to_csv('aml_asdmet_metwiat3_dropna_rawscores.csv')

for index, row in merged_df.iterrows():

    for col in wiat_grade_norms.columns:
        if row['column_for_norm'] == col: # Check for a match in the _min column
            for i, val in enumerate(wiat_grade_norms[col]):
                if isinstance(val, str) and '-' in val: # Check if Raw Score falls within the range of values in the cell
                    start, end = val.split('-')
                    try: 
                        if float(start) <= float(row['Raw Score']) <= float(end):
                            merged_df.at[index, 'column_header_from_norms'] = col
                            merged_df.at[index, 'standard_score_row_number'] = i
                            merged_df.at[index, 'norm_table_raw'] = wiat_grade_norms[col][i]
                            merged_df.at[index, 'SS_from_norm_table'] = wiat_grade_norms['Standard Score'][i]
                    except:
                        continue
                elif str(val) == row['Raw Score']:
                    merged_df.at[index, 'column_header_from_norms'] = col
                    merged_df.at[index, 'standard_score_row_number'] = i
                    merged_df.at[index, 'norm_table_raw'] = wiat_grade_norms[col][i]
                    merged_df.at[index, 'SS_from_norm_table'] = wiat_grade_norms['Standard Score'][i]

            # If no match in the _min column, check the _max column
            for i, val in enumerate(wiat_grade_norms[col]):
                if isinstance(val, str) and '-' in val:  # Check if Raw Score falls within the range of values in the cell
                    start, end = val.split('-')
                    try: 
                        if float(start) <= float(row['Raw Score']) <= float(end):
                            merged_df.at[index, 'column_header_from_norms'] = col
                            merged_df.at[index, 'standard_score_row_number'] = i
                            merged_df.at[index, 'norm_table_raw'] = wiat_grade_norms[col][i]
                            merged_df.at[index, 'SS_from_norm_table'] = wiat_grade_norms['Standard Score'][i]
                    except:
                        continue
                elif str(val) == row['Raw Score']:
                    merged_df.at[index, 'column_header_from_norms'] = col
                    merged_df.at[index, 'standard_score_row_number'] = i
                    merged_df.at[index, 'norm_table_raw'] = wiat_grade_norms[col][i]
                    merged_df.at[index, 'SS_from_norm_table'] = wiat_grade_norms['Standard Score'][i]
                    
    for col in wiat_reading_comprehension.columns:
        if row['Subtest'] == 'Reading Comprehension' and row['reading_comprehension_column_header']==col:
            for i,val in enumerate(wiat_reading_comprehension[col]):
                if str(val) == row['Raw Score']:
                    # print(row['Subtest'],row['Raw Score'],wiat_reading_comprehension['Weighted Raw'][i])
                    merged_df.at[index, 'reading_comprehension_weighted_score']= wiat_reading_comprehension['Weighted Raw'][i]
                    merged_df.at[index, 'SS_from_norm_table']= wiat_reading_comprehension['Weighted Raw'][i]

In [ ]:
merged_df['score_comparison'] = merged_df.groupby(['Subtest', 'pid', 'visit'])['Raw Score'].transform(lambda x: 'same' if x.nunique() == 1 else 'different')
for x,y in merged_df.groupby(['Subtest', 'pid', 'visit'])['Raw Score']:
    print(x,y)

In [ ]:
# merged_df.to_csv('/Users/daelsaid/scratch/NeuroPsych/tmp/test.csv')

In [ ]:
# print(age_group_table)
print(combined_table_df)

merged_df = pd.merge(left=combined_table_df, right=age_group_table, left_on='subj_age_group-asx', right_on='Age Group', how='left')
merged_df['age_range'] = merged_df['Range'].fillna('')
merged_df.to_csv('aml_contains_age_group_mapping.csv')
# print(merged_df)

In [ ]:
data_dir='/Users/daelsaid/scratch/NeuroPsych/03_16_2023/'

os.chdir(data_dir)

combined_table_df=pd.DataFrame()

for subj_data_file in os.listdir(data_dir):
    try:
        file_prefix=subj_data_file.split('.')[0]
        subj=file_prefix.split('_')[-2]
        visit=file_prefix.split('_')[-1]
        subtest_scores_asx=pd.DataFrame()
        subtest_score_sc1=pd.DataFrame()
        subtest_score_sc2=pd.DataFrame()
        subtest_score_reconcile=pd.DataFrame()

        if file_prefix.startswith('AML_WIAT') or file_prefix.startswith('MET_WIAT') or file_prefix.startswith('ASDMET_WIAT'):
            subj_assessor_df=pd.read_excel(subj_data_file,sheet_name='Assessor',header=[0],skiprows=None,dtype=str)
            subtest_scores_asx = subj_assessor_df.iloc[0:11, [10, 11, 12]] 
            subtest_scores_asx.columns = subtest_scores_asx.iloc[0]
            subtest_scores_asx = subtest_scores_asx.iloc[1:]        
            subtest_scores_asx['pid'] = subj
            subtest_scores_asx['visit']=visit
            subtest_scores_asx['scorer'] = 'asx'
            subtest_scores_asx['subj_grade_group-asx']=subj_assessor_df.iloc[5,7]
            subtest_scores_asx['subj_grade_code-asx']=subj_assessor_df.iloc[6,7]
            subtest_scores_asx['subj_grade-asx']=subj_assessor_df.iloc[6,5]

            subj_sc1_df=pd.read_excel(subj_data_file,sheet_name='Scorer1',header=[0],skiprows=None,dtype=str)
            subtest_score_sc1 = subj_sc1_df.iloc[0:11, [10, 11, 12]] 
            subtest_score_sc1.columns = subtest_score_sc1.iloc[0]
            subtest_score_sc1 = subtest_score_sc1.iloc[1:]        
            subtest_score_sc1['pid'] = subj
            subtest_score_sc1['visit']=visit
            subtest_score_sc1['scorer'] = 'sc1'
            subtest_score_sc1['subj_grade_group-asx']=subj_assessor_df.iloc[5,7]
            subtest_score_sc1['subj_grade_code-asx']=subj_assessor_df.iloc[6,7]
            subtest_score_sc1['subj_grade-asx']=subj_assessor_df.iloc[6,5]

            subj_sc2_df=pd.read_excel(subj_data_file,sheet_name='Scorer2',header=[0],skiprows=None,dtype=str)
            subtest_score_sc2 = subj_sc2_df.iloc[0:11, [10, 11, 12]] 
            subtest_score_sc2.columns = subtest_score_sc2.iloc[0]
            subtest_score_sc2 = subtest_score_sc2.iloc[1:]        
            subtest_score_sc2['pid'] = subj
            subtest_score_sc2['visit']=visit
            subtest_score_sc2['scorer'] = 'sc2'
            subtest_score_sc2['subj_grade_group-asx']=subj_assessor_df.iloc[5,7]
            subtest_score_sc2['subj_grade_code-asx']=subj_assessor_df.iloc[6,7]
            subtest_score_sc2['subj_grade-asx']=subj_assessor_df.iloc[6,5]

            subj_reconcile_df=pd.read_excel(subj_data_file,sheet_name='Reconcile',header=[0],skiprows=None,dtype=str)
            subtest_score_reconcile = subj_reconcile_df.iloc[8:19, [3, 4, 5, 6]]
            subtest_score_reconcile.columns = subtest_score_reconcile.iloc[0]
            subtest_score_reconcile = subtest_score_reconcile.iloc[1:]
            subtest_score_reconcile['pid'] = subj
            subtest_score_reconcile['visit']=visit
            subtest_score_reconcile['scorer'] = 'reconcile'
            subtest_score_reconcile['subj_grade_group-asx']=subj_assessor_df.iloc[5,7]
            subtest_score_reconcile['subj_grade-asx']=subj_assessor_df.iloc[6,5]
    

            subject_scores = pd.concat([subtest_scores_asx, subtest_score_sc1, subtest_score_sc2, subtest_score_reconcile], ignore_index=True)
            combined_table_df = combined_table_df.append(subject_scores, ignore_index=True)
    except:
        continue

display(combined_table_df)
combined_table_df.to_csv('amlmet_wiat3_scores_combined_np_drive.csv')

In [ ]:
merged_df['column_for_norm']='ages_'+merged_df['Range']+'_'+merged_df['Subtest']
merged_df.to_csv('aml_mapped_out_with_norms_titles.csv')

In [ ]:
display(merged_df)

In [ ]:
merged_df = merged_df.dropna(subset=['Raw Score'])
merged_df.to_csv('aml_dropna_rawscores.csv')


for index, row in merged_df.iterrows():
    for col in wisc_norms.columns:
        if row['column_for_norm'] == col:
            # Check for a match in the _min column
            for i, val in enumerate(wisc_norms[col]):
                if isinstance(val, str) and '-' in val:
                    # Check if Raw Score falls within the range of values in the cell
                    start, end = val.split('-')
                    try: 
                        if float(start) <= float(row['Raw Score']) <= float(end):
                            merged_df.at[index, 'column_header_from_norms'] = col
                            merged_df.at[index, 'scaled_score_row_number'] = i
                            merged_df.at[index, 'norm_table_raw'] = wisc_norms[col][i]
                            merged_df.at[index, 'SS_from_norm_table'] = wisc_norms['Scaled Score'][i]
                            # print(f"{row['pid']}")
                            # print(f"cols: {row['column_for_norm']} == {col}")
                            # print(f"{row['scorer']}- Raw: {row['Raw Score']} (Row # in wisc_norms: {i})")
                            # print(f"SS from table: {wisc_norms['Scaled Score'][i]}, SS from template: {row['Scaled Score']}")
                            # print("\n")
                    except:
                        continue
                elif str(val) == row['Raw Score']:
                    merged_df.at[index, 'column_header_from_norms'] = col
                    merged_df.at[index, 'scaled_score_row_number'] = i
                    merged_df.at[index, 'norm_table_raw'] = wisc_norms[col][i]
                    merged_df.at[index, 'SS_from_norm_table'] = wisc_norms['Scaled Score'][i]

            # If no match in the _min column, check the _max column
            for i, val in enumerate(wisc_norms[col]):
                if isinstance(val, str) and '-' in val:
                    # Check if Raw Score falls within the range of values in the cell
                    start, end = val.split('-')
                    try: 
                        if float(start) <= float(row['Raw Score']) <= float(end):
                            merged_df.at[index, 'column_header_from_norms'] = col
                            merged_df.at[index, 'scaled_score_row_number'] = i
                            merged_df.at[index, 'norm_table_raw'] = wisc_norms[col][i]
                            merged_df.at[index, 'SS_from_norm_table'] = wisc_norms['Scaled Score'][i]
                    except:
                        continue
                elif str(val) == row['Raw Score']:
                    merged_df.at[index, 'column_header_from_norms'] = col
                    merged_df.at[index, 'scaled_score_row_number'] = i
                    merged_df.at[index, 'norm_table_raw'] = wisc_norms[col][i]
                    merged_df.at[index, 'SS_from_norm_table'] = wisc_norms['Scaled Score'][i]

display(merged_df)

In [ ]:
merged_df['change_in_scores'] = merged_df['Standard Score'].fillna(999).astype(int).subtract(merged_df['SS_from_norm_table'].fillna(999).astype(int))
display(merged_df)

In [ ]:
merged_df['norm_table_raw'] = merged_df['norm_table_raw'].astype(str)
merged_df.to_csv('aml_updated_with_norm_score_from_table.csv',encoding='utf-8')

### MET/ASDMET/AML --WIAT-III

In [ ]:
# print(age_group_table_wiat)
print(combined_table_df)

merged_df = pd.merge(left=combined_table_df, right=age_group_table_wiat, left_on='subj_grade_code-asx', right_on='Grade Code', how='left')
merged_df.to_csv('amlmet_asdmet_wiat3_npdrive_contains_age_group_mapping.csv')
display(merged_df)

In [ ]:
merged_df = merged_df.reset_index(drop=True)
merged_df.loc[merged_df['Subtest'] == 'Reading Comprehension', 'reading_comprehension_column_header'] = 'Reading Comprehension.' + merged_df['subj_grade-asx']

merged_df.loc[merged_df['Subtest'] == 'Oral Expression - Sentence Repetition', 'Subtest'] = 'Sentence Repetition'

# merged_df.loc[(merged_df['Weighted Score'].notnull() or merged_df['Subtest'] == 'Reading Comprehension'), 'reading_comprehension_column_header'] = 'Reading Comprehension.' + merged_df['subj_grade-asx']
merged_df['column_for_norm']=merged_df['subj_grade_group-asx'].str.lower()+'_'+merged_df['Subtest']
# merged_df['Weighted_reading']=merged_df['Weighted Score'].fillna('')
merged_df.to_csv('aml_asdmet_metwiat3_mapped_out_with_norms_titles.csv')

In [ ]:
merged_df = merged_df.dropna(subset=['Raw Score'])
# merged_df.to_csv('aml_asdmet_metwiat3_dropna_rawscores.csv')

for index, row in merged_df.iterrows():

    for col in wiat_grade_norms.columns:
        if row['column_for_norm'] == col: # Check for a match in the _min column
            for i, val in enumerate(wiat_grade_norms[col]):
                if isinstance(val, str) and '-' in val: # Check if Raw Score falls within the range of values in the cell
                    start, end = val.split('-')
                    try: 
                        if float(start) <= float(row['Raw Score']) <= float(end):
                            merged_df.at[index, 'column_header_from_norms'] = col
                            merged_df.at[index, 'standard_score_row_number'] = i
                            merged_df.at[index, 'norm_table_raw'] = wiat_grade_norms[col][i]
                            merged_df.at[index, 'SS_from_norm_table'] = wiat_grade_norms['Standard Score'][i]
                    except:
                        continue
                elif str(val) == row['Raw Score']:
                    merged_df.at[index, 'column_header_from_norms'] = col
                    merged_df.at[index, 'standard_score_row_number'] = i
                    merged_df.at[index, 'norm_table_raw'] = wiat_grade_norms[col][i]
                    merged_df.at[index, 'SS_from_norm_table'] = wiat_grade_norms['Standard Score'][i]

            # If no match in the _min column, check the _max column
            for i, val in enumerate(wiat_grade_norms[col]):
                if isinstance(val, str) and '-' in val:  # Check if Raw Score falls within the range of values in the cell
                    start, end = val.split('-')
                    try: 
                        if float(start) <= float(row['Raw Score']) <= float(end):
                            merged_df.at[index, 'column_header_from_norms'] = col
                            merged_df.at[index, 'standard_score_row_number'] = i
                            merged_df.at[index, 'norm_table_raw'] = wiat_grade_norms[col][i]
                            merged_df.at[index, 'SS_from_norm_table'] = wiat_grade_norms['Standard Score'][i]
                    except:
                        continue
                elif str(val) == row['Raw Score']:
                    merged_df.at[index, 'column_header_from_norms'] = col
                    merged_df.at[index, 'standard_score_row_number'] = i
                    merged_df.at[index, 'norm_table_raw'] = wiat_grade_norms[col][i]
                    merged_df.at[index, 'SS_from_norm_table'] = wiat_grade_norms['Standard Score'][i]
                    
    for col in wiat_reading_comprehension.columns:
        if row['Subtest'] == 'Reading Comprehension' and row['reading_comprehension_column_header']==col:
            for i,val in enumerate(wiat_reading_comprehension[col]):
                if str(val) == row['Raw Score']:
                    # print(row['Subtest'],row['Raw Score'],wiat_reading_comprehension['Weighted Raw'][i])
                    merged_df.at[index, 'reading_comprehension_weighted_score']= wiat_reading_comprehension['Weighted Raw'][i]
                    merged_df.at[index, 'SS_from_norm_table']= wiat_reading_comprehension['Weighted Raw'][i]

In [ ]:
merged_df

In [ ]:
merged_df = merged_df.dropna(subset=['Raw Score'])
merged_df.to_csv('aml_asdmet_metwiat3_dropna_rawscores.csv')

for index, row in merged_df.iterrows():

    for col in wiat_grade_norms.columns:
        if row['column_for_norm'] == col: # Check for a match in the _min column
            for i, val in enumerate(wiat_grade_norms[col]):
                if isinstance(val, str) and '-' in val: # Check if Raw Score falls within the range of values in the cell
                    start, end = val.split('-')
                    try: 
                        if float(start) <= float(row['Raw Score']) <= float(end):
                            merged_df.at[index, 'column_header_from_norms'] = col
                            merged_df.at[index, 'standard_score_row_number'] = i
                            merged_df.at[index, 'norm_table_raw'] = wiat_grade_norms[col][i]
                            merged_df.at[index, 'SS_from_norm_table'] = wiat_grade_norms['Standard Score'][i]
                    except:
                        continue
                elif str(val) == row['Raw Score']:
                    merged_df.at[index, 'column_header_from_norms'] = col
                    merged_df.at[index, 'standard_score_row_number'] = i
                    merged_df.at[index, 'norm_table_raw'] = wiat_grade_norms[col][i]
                    merged_df.at[index, 'SS_from_norm_table'] = wiat_grade_norms['Standard Score'][i]

            # If no match in the _min column, check the _max column
            for i, val in enumerate(wiat_grade_norms[col]):
                if isinstance(val, str) and '-' in val:  # Check if Raw Score falls within the range of values in the cell
                    start, end = val.split('-')
                    try: 
                        if float(start) <= float(row['Raw Score']) <= float(end):
                            merged_df.at[index, 'column_header_from_norms'] = col
                            merged_df.at[index, 'standard_score_row_number'] = i
                            merged_df.at[index, 'norm_table_raw'] = wiat_grade_norms[col][i]
                            merged_df.at[index, 'SS_from_norm_table'] = wiat_grade_norms['Standard Score'][i]
                    except:
                        continue
                elif str(val) == row['Raw Score']:
                    merged_df.at[index, 'column_header_from_norms'] = col
                    merged_df.at[index, 'standard_score_row_number'] = i
                    merged_df.at[index, 'norm_table_raw'] = wiat_grade_norms[col][i]
                    merged_df.at[index, 'SS_from_norm_table'] = wiat_grade_norms['Standard Score'][i]
                    
    for col in wiat_reading_comprehension.columns:
        if row['Subtest'] == 'Reading Comprehension' and row['reading_comprehension_column_header']==col:
            for i,val in enumerate(wiat_reading_comprehension[col]):
                if str(val) == row['Raw Score']:
                    # print(row['Subtest'],row['Raw Score'],wiat_reading_comprehension['Weighted Raw'][i])
                    merged_df.at[index, 'reading_comprehension_weighted_score']= wiat_reading_comprehension['Weighted Raw'][i]
                    merged_df.at[index, 'SS_from_norm_table']= wiat_reading_comprehension['Weighted Raw'][i]

In [ ]:
display(merged_df)

col_order=['Subtest','pid','visit','scorer','subj_grade_group-asx','subj_grade_code-asx','subj_grade-asx','Grade Group','Grade Code','reading_comprehension_column_header','column_for_norm','column_header_from_norms','standard_score_row_number','norm_table_raw','Raw Score','Standard Score','SS_from_norm_table','reading_comprehension_weighted_score','Weighted Score',]

merged_df=merged_df[col_order]

In [ ]:
merged_df['score_comparison'] = merged_df.groupby(['Subtest', 'pid', 'visit'])['Raw Score'].transform(lambda x: 'same' if x.nunique() == 1 else 'different')


for x,y in merged_df.groupby(['Subtest', 'pid', 'visit'])['Raw Score']:
    print(x,y)

In [ ]:
merged_df['change_in_scores'] = merged_df['Standard Score'].fillna(999).astype(int).subtract(merged_df['SS_from_norm_table'].fillna(999).astype(int))
display(merged_df)

In [ ]:
merged_df['norm_table_raw'] = merged_df['norm_table_raw'].astype(str)
merged_df.to_csv('amlmet_asdmet_wiat3_updated_with_norm_score_from_table_np.csv',encoding='utf-8')

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Generate some example data
data = [3,19,48,41,78,38,28,56,36,11,25,25,20,49,29,8,8,3,3,33,2,3,1,3,3,41,38,-50,-48,-44,-43,-35,2,-34,28,63,42,52,41,42,29,25,19]

# Set the color palette and create the plot
sns.set_palette("RdBu_r")
fig, ax = plt.subplots(figsize=(8,6))
sns.barplot(x=range(len(data)), y=data, ax=ax)

# Add labels and title
ax.set_xlabel("Observation Number")
ax.set_ylabel("Change Score")
ax.set_title("Magnitude of Change Scores")
plt.show()

---

In [ ]:


for index, row in merged_df.iterrows():
    for col in wisc_norms.columns:
        if row['column_for_norm'] == col.split('_m')[0]:
            # print(row['column_for_norm'])
            for i, val in enumerate(wisc_norms[col]):
                if str(val) in row['Raw Score']:
                    merged_df.at[index, 'column_header_from_norms'] = col
                    merged_df.at[index, 'scaled_score_row_number'] = i
                    merged_df.at[index, 'SS_from_norm_table'] = wisc_norms['Scaled Score'][i]
                    print(f"{row['pid']}")
                    print(f"cols: {row['column_for_norm']} == {col}")
                    print(f"{row['scorer']}- Raw: {row['Raw Score']} (Row # in wisc_norms: {i})")
                    print(f"SS from table: {wisc_norms['Scaled Score'][i]}, SS from template: {row['Scaled Score']}")
                    print("\n")

In [ ]:
merged_df = merged_df.dropna(subset=['Raw Score'])
# merged_df.to_csv('aml_dropna_rawscores.csv')


for index, row in merged_df.iterrows():
    for col in wisc_norms.columns:
        if row['column_for_norm'] == col.split('_m')[0]:
            # print(row['column_for_norm'])
            for i, val in enumerate(wisc_norms[col]):
                if str(val) in row['Raw Score']:
                    merged_df.at[index, 'column_header_from_norms'] = col
                    merged_df.at[index, 'scaled_score_row_number'] = i
                    merged_df.at[index, 'SS_from_norm_table'] = wisc_norms['Scaled Score'][i]
                    print(f"{row['pid']}")
                    print(f"cols: {row['column_for_norm']} == {col}")
                    print(f"{row['scorer']}- Raw: {row['Raw Score']} (Row # in wisc_norms: {i})")
                    print(f"SS from table: {wisc_norms['Scaled Score'][i]}, SS from template: {row['Scaled Score']}")
                    print("\n")